body{
    background: grey;
    position: relative;
}
#menu{
     background: red;
     width: 99%;
     border: 2px solid white;
     height: 60px;
     margin: 5px auto;
     float: left;
     margin-left: 4px;
}
#content{
    width: 50%;
    height:550px;
    float: left;
}
#content1{
    height: 250px;
    border: 2px solid white;
    background-color: aqua;
    margin: 5px;
}
#content2{
    height:285px;
    width: 50%;
    float: left;
}
#content21{
    height: 110px;
    background:black;
    border: 2px solid white;
    margin: 5px;
}
#content22{
    height: 150px;
    background:yellow;
    border: 2px solid white;
    margin: 5px;
}
#content3{
    height:270px;
    background-color:blue;
    width: 48%;
    border: 2px solid white;
    margin: 5px;
    float: left;
}
#right{
    float: left;
    width: 49.7%;
    height: 550px;
}
#righttop{
    height: 105px;
}
#righttop1{
    height: 95px;
    border: 2px solid white;
    width: 70%;
    margin: 5px;
    background-color: chartreuse;
    float: left;
}
#righttop2{
    height: 95px;
    width: 26.1%;
    border: 2px solid white;
    margin: 5px;
    background-color: darkmagenta;
    float: left;
}
#betweentop{
    height: 50px;
    border: 2px solid white;
    background-color: darkorchid;
    margin: 5px;
}
#between{
    height: 275px;
}
#between1{
    height: 260px;
    border: 2px solid white;
    width: 31%;
    float: left;
    margin:5px;
    background-color: darkslategray;
}
#between2{
    height: 260px;
    border: 2px solid white;
    width: 31%;
    float: left;
    margin:5px;
    background-color: red;
}
#between3{
    height: 260px;
    border: 2px solid white;
    width: 31%;
    float: left;
    margin:5px;
    background-color: darkslategray;
}

#bottom{
    border: 2px solid white;
    height: 85px;
    margin: 5px;
    background-color: lightseagreen;

}
#end{
    height: 60px;
    border: 2px solid white;
    width: 99%;
    float: left;
    background-color: firebrick;
    margin: 5px auto;
    margin-left: 4px;
}

