body{
    background: grey;
    display: block;
    position: relative;
}
#outside{
    width: 100%;
    box-sizing: border-box;
    height: 690px;
    padding: 3px;
    position: absolute;
}
#menu{
     background: red;
     height: 10%;
    width: 99%;
    float: left;
    border: 1px solid white;
    margin: 5px auto;
}
#menu2{
    width: 100%;
    height: 550px;
    float:left;
    display:flex;
}
#content{
    width: 50%;
    height:550px;
    float: left;
}
#content1{
    height: 49%;
    width: 98%;
    background-color: aqua;
    border: 1px solid white;
    margin-bottom: 5px;
    margin-top: 5px;
}
#content12{
    height: 49%;
    width:99%;
}
#content2{
    height:99%;
    width: 48%;
    float: left;
    margin-right: 5px;
}
#content21{
    height: 39%;
    background:black;
    border: 1px solid white;
    margin: 5px auto;
}
#content22{
    height: 56%;
    background:yellow;
    border: 1px solid white;
    margin: 5px auto;
}
#content3{
    height:96%;
    background-color:blue;
    width: 49.5%;
    float: right;
    border: 1px solid white;
    margin: 5px 5px 5px 0px;
}
#right{
    float: left;
    width: 50%;
    height: 550px;
}
#righttop{
    height: 20%;
    width: 100%;
    margin: 5px auto;
}
#righttop1{
    height: 99%;
    width: 67.5%;
    background-color: chartreuse;
    float: left;
    border: 1px solid white;
    margin-right: 5px;
}
#righttop2{
    height: 99%;
    width: 29.5%;
    background-color: darkmagenta;
    float: left;
    border: 1px solid white;
}
#betweentop{
    height: 9%;
    width: 98%;
    background-color: yellow;
    border: 1px solid white;
    margin-bottom: 5px;
}
#between{
    height: 50%;
    width: 100%;
}
#between1{
    height: 99%;
    width: 32%;
    float: left;
    background-color: darkslategray;
    border: 1px solid white;
    margin-right: 5px;
}
#between2{
    height: 99%;
    width: 32%;
    float: left;
    background-color: red;
    border: 1px solid white;
    margin-right: 5px;
}
#between3{
    height: 99%;
    width: 32%;
    float: left;
    background-color: darkslategray;
    border: 1px solid white;
}

#bottom{
    height: 16%;
    background-color: lightseagreen;
    width: 98%;
    border: 1px solid white;
    margin-top: 5px;
    margin-bottom: 5px;

}
#end{
    height: 9%;
    width: 99%;
    float: left;
    background-color: firebrick;
    border: 1px solid white;
    margin: 5px auto;
}

